/* Taip aprasome kintamuosius savo CSS'e */
img {
    width: 100%;
}

body {
    color: var(--text-color);
}

body > header {
    /* var(--main-color)  - taip panaudojame kintamuosius savo CSS'e */
    background-color: var(--main-color);
    /* Uzdedame seseli */
    box-shadow: 0 0 10px black;
    align-items: center;
    /* Nustatonas elemento sluoksnis */
    z-index: 2;
    /* Kad z-index veikt elemento pozicija negali buti 'static'*/
    position: relative;
}

body > main {
    background-color: var(--main-color);
    /* Pridedamas ryskumo filtras elementui, kad pasviesintume jo fono spalva */
    filter: brightness(2);
    /* Panaikiname margin reiksme nuo virsaus ir apacios, kad nematytume atitraukimo */
    margin-top: 0;
    margin-bottom: 0;
    /* Uzdedame seseli */
    box-shadow: 0 0 10px black;
}

footer {
    background-color: var(--main-color);
    /* Uzdedame seseli */
    box-shadow: 0 0 10px black;
    height: 150px;
    /* Nustatonas elemento sluoksnis */
    z-index: 2;
    /* Kad z-index veikt elemento pozicija negali buti 'static'*/
    position: relative;
}

body > nav > * {
    float: right;
}

nav ul {
    list-style: none;
}

.headerMiddle {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    font-size: 2.5rem;
    color: #003150;

    & div {
        color: black;
        margin: 10px;
        font-size: 1rem;
    }
}

.search_box {
    display: grid;
    align-items: center;
    grid-template-columns: 3fr 1fr;
    padding: 10px;
}

img[alt="Logo"] {
    margin: 10px;
}

body > main {
    padding: 1rem;
}

body > aside > div {
    outline: 1px solid rgb(128, 128, 128);
    margin: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
}
body > footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}