.sachmatai {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

.sachmatai > div {
    padding: 10px;
    border: 1px solid darkgray;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: lightgray;
    flex-direction: column;
}

.sachmatai > div:nth-child(4n+2){
    background-color: lightblue;
}

.sachmatai > div:nth-child(4n+4){
    background-color: lightgreen;
}

.sachmatai > div:nth-child(2n+16){
    background-color: lightpink;
}