* {
    border: 1px solid red;
}

body {
    border-color: green;
}

header > div {
    display: inline-block;
}
header > img {
    width: 200px;
}

/*
header > div:last-of-type {
    width: 300px;
}
header > div:first-of-type {
    width: 700px;
}
*/

.headerMiddle {
    width: 700px;
}

.search_box {
    width: 300px;
}

nav, main, aside {
    float:left;
    margin: 5px;
    padding: 10px;
}
footer {
    clear: both;
}

nav {
    width: 18%;
}

main {
    width: 54%;
}

aside {width: 22%}